@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-75;
}

html, body {
  height: 100%;
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.leaflet-container {
  background-color: #00758E;
}

.rich-text img{
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

@media (width <= 600px) {
  .rich-text img {
    height: 100%;
  width: 100%;
  }
}
