@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-75;
}

html, body {
  height: 100%;
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
